$black: #011627;
$black-light: #485C68;
$black-dark: #00031B;

$white: #FDFFFC;
$white-light: #FEFFFD;

$blue: #2EC4B6;
$blue-light: #6BE7E2;
$blue-dark: #1C8070;

$red: #E71D36;
$red-light: #F57E82;
$red-dark: #9C0F1B;

$orange: #FF9F1C;
$orange-light: #FFD255;
$orange-dark: #C56F14;
